<div class="mt-8">
	<p class="mb-2"><b class="uppercase">Produktinformation</b></p>
	<table class="w-full border-solid border-r-0 border-b-0 border-l-0 border-t-2 border-t-cyan-800 mb-4">
		@foreach ($order->items as $item)
		<tr>
			<td class="py-3 border-solid border-t-0 border-r-0 border-l-0 border-b-2 border-b-cyan-800">
				<b class="uppercase">@{{ $item->product_name }}</b><br />
				Antal: @{{ $item->quantity }}<br />
				Art.nr: @{{ $item->item_number }}
			</td>
			<td
				colspan="2"
				class="text-right py-3 border-solid border-t-0 border-r-0 border-l-0 border-b-2 border-b-cyan-800 align-bottom"
			>
				á pris @{{ $item->price_incl_vat_formatted }}<br />
				Delsumma @{{ $item->total_incl_vat_formatted }}
			</td>
		</tr>
		@endforeach
	</table>
	<table class="w-full border-solid border-t-0 border-r-0 border-l-0 border-b-2 border-b-cyan-800">
		@foreach ($order->totals as $total)
		<tr>
			<td class="text-right pb-2">@{{ $total->label }}</td>
			<td class="text-right pr-3 pb-2">@{{ $total->value_formatted }}</td>
		</tr>
		@endforeach
	</table>
</div>
