<x-main>
	<div class="bg-slate-50 sm:px-4 font-sans">
		<table align="center">
			<tr>
				<td class="w-[552px] max-w-full">
					<table
						class="w-full border-solid border-t-cyan-800 border-t-8 border-r-transparent border-b-transparent border-l-transparent"
					>
						<tr>
							<td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
								<p
									class="mb-3 py-3 border-solid border-r-0 border-l-0 border-t-2 border-b-2 border-t-cyan-800 border-b-cyan-800 text-lg uppercase"
								>
									Din beställning hos @{{ $order->shop->name }} har uppdaterats - Order nr. @{{
									$order->order_number }}.
								</p>

								<p class="mb-3">
									<b>Hej @{{ $order->customer->name }}</b>
									<br />
									Vi vill informera dig om att statusen på din beställning har uppdaterats till "@{{
									$order->currentStatus->newStatus->name }}".
								</p>

								<x-order-summary />

								<x-shipping-summary />

								<x-order-items />

								@if ($customContent)
								<p class="mt-8">{!! nl2br($customContent) !!}</p>
								@endif

								<p class="mt-8">Vänligen, <br />@{{ $order->shop->name }}</p>
								<x-footer />
							</td>
						</tr>
						<tr role="separator">
							<td class="leading-12">&zwj;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</x-main>
