<x-main>
	<div class="bg-slate-50 sm:px-4 font-sans">
		<table align="center">
			<tr>
				<td class="w-[552px] max-w-full">
					<table
						class="w-full border-solid border-t-cyan-800 border-t-8 border-r-transparent border-b-transparent border-l-transparent"
					>
						<tr>
							<td class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm">
								<p
									class="mb-3 py-3 border-solid border-r-0 border-l-0 border-t-2 border-b-2 border-t-cyan-800 border-b-cyan-800 text-lg uppercase"
								>
									Kvitto från @{{ $order->shop->name }} - Order nr. @{{ $order->order_number }}.
								</p>

								<p class="mb-3">
									<b>Hej @{{ $order->customer->name }}</b>
									<br />
									Tack för att du handlar hos @{{ $order->shop->name }}.
								</p>

								<p class="mb-3 mt-8">
									<b class="uppercase">Ordersammanfattning</b>
									<br />
									Ordernummer: @{{ $order->order_number }}<br />
									Kvittonummer: @{{ $order->receipt->receipt_number }}<br />
									Datum: @{{ $order->created_at->format('Y-m-d H:i') }}<br />
									Namn: @{{ $order->customer->name }}<br />
									@if (isset($order->customer->email)) E-postadress: @{{ $order->customer->email }}<br />
									@endif @if (isset($order->customer->phone)) Telefon: @{{ $order->customer->phone
									}}<br />
									@endif Faktureringsadress: @{{ $order->customer->billingAddress->inline(true) }}<br />
									Betalningssätt @{{ $order->payment->title }}<br />
								</p>

								<p class="mb-3 mt-8">
									<b class="uppercase">Leverans</b><br />
									Frakt: @{{ $order->shipping->title }}<br />
									Leveransadress: @{{ $order->customer->shippingAddress->inline(true) }}<br />
								</p>

								<x-order-items />

								@if ($order->settings->purchase_information)
								<p class="mt-8">@{{ nl2br($order->settings->purchase_information) }}</p>
								@endif
								<p class="mt-8">Vänligen, <br />@{{ $order->shop->name }}</p>
								<x-footer />
							</td>
						</tr>
						<tr role="separator">
							<td class="leading-12">&zwj;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</x-main>
