<x-main>
	<div class="bg-slate-50 sm:px-4 font-sans">
		<table align="center">
			<tr>
				<td class="w-[552px] max-w-full">
					<table
						class="w-full border-solid border-t-cyan-800 border-t-8 border-r-transparent border-b-transparent border-l-transparent"
					>
						<tr>
							<td
								class="p-12 sm:px-6 text-base text-slate-700 bg-white rounded shadow-sm"
							>
								<h1
									class="m-0 mb-6 text-2xl sm:leading-8 text-black font-semibold"
								>
									Hej @{{ $name }},
								</h1>

								<p class="m-0 leading-6">
									Det finns slutsålda produkter i din butik
									@{{ $shopName }}.
								</p>

								<div class="my-4">
									<table class="w-full border-none">
										<tr>
											<th
												class="text-base text-bold border-solid border-t-0 border-r-0 border-l-0 border-b-cyan-800 text-left py-3"
											>
												Produkt
											</th>
											<th
												class="text-base text-bold border-solid border-t-0 border-r-0 border-l-0 border-b-cyan-800 text-right py-3"
											>
												Minst antal efterfrågade
											</th>
										</tr>
										<tr>
											<td class="text-base py-3">
												@{{ $productName }}
											</td>
											<td
												class="text-base text-right py-3"
											>
												@{{ $requestedQty }} st
											</td>
										</tr>
									</table>
								</div>
								<x-divider
									space-y="32px"
									class="bg-slate-200"
								/>

								<p class="m-0">
									Om du inte känner till vad detta berör kan
									du bortse från detta mejl.
									<br />
									<br />
									Vänligen, <br />@{{ config('app.name') }}
								</p>
							</td>
						</tr>
						<tr role="separator">
							<td class="leading-12">&zwj;</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
	</div>
</x-main>
